<h2>DESTROY, BUILD, DESTROY</h2>

<form action="#">
  <input class="text-input" id="DESTROY" name="DEMOLISH ANYTHING IN YOUR PATH" type="COMPLETE ANHILIATION" placeholder="NOW TO REBUILD">
  <input class="text-input" id="BUILD" name="PRESERVE AND BUILD YOUR BASE" type="number" placeholder="WHAT BASE ARE YOU?">
  <input class="button" id="add-new-todo-button" type="submit" value="SUBMIT">
</form>