
<head> 
    <title>Todo List Application</title> 
    <link rel="stylesheet" href="show.css"></head> 
        <body> 
        <input type="checkbox"> 
            <h2> <%= @todo_description %></h2> 
            <span class="pomodoro-estimate large-pomodoro-estimate"><%= @todo_pomodoro_estimate %> Pomodoro</span>
            <a href="1">Edit</a> <a href="2">Delete</a> <a href="index.html">Go back...
            </a> 
            <h3>Todo #<%=params[:id] %></h3>
            